/* General theme independent control css. */

.TcHmi_Controls_ParisonFramework_ParisonFrameworkControl {
    overflow: hidden;
}

.TcHmi_Controls_ParisonFramework_ParisonFrameworkControl-Template {
    width: 100%;
    height: 100%;
}


